// Global styles for the app should go here. These styles should be shared across all components.
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body,
html {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
